@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
    color: black !important;
}
.brand-logo {
    font-family: "Grand Hotel", cursive;
    margin-left: 10px;
}
.myCard{
    margin-top: 60px;
}
.auth-card {
    padding : 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(23, 56, 245) !important;
    box-shadow: 0 1px 0 0 rgb(23, 56, 245) !important;
}
.input-field input[type=password]:focus {
    border-bottom: 1px solid rgb(23, 56, 245) !important;
    box-shadow: 0 1px 0 0 rgb(23, 56, 245) !important;
}
.input-field input[type=email]:focus {
    border-bottom: 1px solid rgb(23, 56, 245) !important;
    box-shadow: 0 1px 0 0 rgb(23, 56, 245) !important;
}
.gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
.item {
    width: 30%;
}
.home-card  {
    max-width: 500px;
    height: max-content;
    margin: 20px auto;

}
#toast-container {
    top:60px !important;
    right:20px !important;
    left:auto !important;
}